@media screen and (min-width: 992px) {
  .main-panel > .container { 
    min-height: calc(100% - 54px);
    margin-top: 0px;
  }
}

.main-header {
  min-height: 0px;
}

.card-category {
  font-size: 1.1rem;
  font-weight: 500;
}

.chart-container {
  min-height: 360px;
  position: relative; 
}

.chart-container-thin {
  min-height: 280px;
  position: relative; 
}

#rank-table th:nth-child(2),
#rank-table td:nth-child(2) {
  min-width: 300px;
  max-width: 500px;
  white-space: normal;
  word-break: break-word;
}