{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pb-4">
      <div>
        <h2 class="fw-bold mb-1">Contributions and Feedback Welcome!</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <p>The <strong>Combinatorial Interaction Testing Repository</strong> is developed and maintained by <a href="https://huayaow.github.io/" target="_blank">Huayao Wu</a> from Nanjing University. 
            </p>

            <p>
            This repository is periodically and automatically updated using the DBLP APIs to search for relevant papers and retrieve their metadata. We aim to keep the papers collected as comprehensive and accurate as possible.
            If you notice any missing papers, incorrect metadata, or have suggestions for improvement, please feel free to <a href="mailto:hywu@nju.edu.cn">send me an email</a>, or <a href="https://github.com/huayaow/cit-repository/issues" target="_blank">open an issue on GitHub</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
