{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pb-4">
      <div>
        <h2 class="fw-bold mb-1">Active Scholars</h2>
        <p class="op-7">This page reports a bibliometric assessment of active scholars in the combinatorial interaction testing community. The score of each scholar is calculated as the total number of leading software engineering conference and journal papers in which the scholar is involved. The scholars with a score of four or higher are shown in the following table.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table id="rank-table" class="display table">
                <thead>
                  <tr>
                    <th>#</th><th>Scholar</th>
                    <th>TSE</th><th>TOSEM</th><th>EMSE</th><th>JSS</th><th>IST</th>
                    <th>ICSE</th><th>FSE</th><th>ASE</th><th>ISSTA</th><th>ISSRE</th>
                    <th>ICST</th><th>IWCT</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  {% for scholar in scholar_list %}
                  <tr>
                    <td>{{ scholar.rank }}</td>
                    <td><a href="{% if scholar.homepage != ''%}{{ scholar.homepage}}{% else %}#{% endif %}" target="_blank">{{ scholar.name }}</a><br>
                    {{ scholar.institution }}, {{ scholar.country }}</td>
                    <td>{{ scholar.tse }}</td>
                    <td>{{ scholar.tosem }}</td>
                    <td>{{ scholar.emse }}</td>
                    <td>{{ scholar.jss }}</td>
                    <td>{{ scholar.ist }}</td>
                    <td>{{ scholar.icse }}</td>
                    <td>{{ scholar.fse }}</td>
                    <td>{{ scholar.ase }}</td>
                    <td>{{ scholar.issta }}</td>
                    <td>{{ scholar.issre }}</td>
                    <td>{{ scholar.icst }}</td>
                    <td>{{ scholar.icstw }}</td>
                    <td>{{ scholar.score }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end div row -->

  </div>
</div>
{% endblock content %}