{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pb-4">
      <div>
        <h2 class="fw-bold mb-1">Charts (Under Construction)</h2>
        <h6 class="op-7 mb-2">
          This page displays several statistic data of the status and developement of the combinatorial interaction testing research field.
        </h6>
      </div>
    </div>

    <!-- Chart 1: annual number of publications -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-round">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">Annual Number of Publications</div>
            </div>
            <div class="card-category">From {{ chart_annual.year[0] }} to {{ chart_annual.year[-1] }}</div>
          </div>
          <div class="card-body">
            <div class="chart-container-thin">
              <canvas id="annualChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Chart 2: annual distribution of publications -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-round">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">Distribution of Publications on Different Research Topics</div>
            </div>
            <div class="card-category">Across the following main categories: Generation, Application, Evaluation, Optimization, Model, and Diagnosis</div>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="annualDistChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}